.ant-menu.custom-nav {
    height: 70px;
    line-height: 70px;
    float: right;
}
.custom-btn {
    height: 70px;
    line-height: 70px;
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}